.hero-img{
    width: 30%;
    text-align: right;  
    /* height: 30vh; */
    margin: 20px;
    border: 1px solid none;
    border-radius: 45%;
}

@media only screen and (max-width: 575px) {
  .hero-img{
    width: 50%;
    text-align: right;  
    /* height: 30vh; */
    margin: 20px;
    border: 1px solid none;
    border-radius: 45%;
}
}

@media only screen and (max-width: 765px){
  #about img{
    display:  none;
  }
}

svg{
    width: 50%;
}

.scroll-container {
    /* background-color: #333; */
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
    height:50%;
    width:50%;
  }
